<h1>Name: <%= @snack.name %></h1>
<p>Price: <%= number_to_currency(@snack.price) %></p>

<h2>Machines where this snack is found</h2>
<% @snack.machines.each do |machine| %>
  <h3>Location: <%= machine.location %></h3>
  <p><%= machine.location %> average price: <%= number_to_currency(machine.average_snack_price) %></p>
  <p><%= machine.location %> snack count: <%= machine.snack_count %></p>
<% end %>
